.message-list {
    margin: auto;
    border: 1px solid #40a4df;
    height: 70vh;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: scroll;
    padding: 10px 1px;
    box-sizing: border-box;
    background-color: #eafeff40;
    border-radius: 6px;
}

.message-list::-webkit-scrollbar {
    display: none;
}