.modal-shown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    text-align: center;
}

.hide-modal {
    display: none;
}

.modal-body {
    padding: 1rem;
    width: 65%;
    border-radius: 5px;
    background: #fff;
    height: 320px;
}

.edit-message-input {
    width: 90%;
    height: 55%;
}

.edit-message-button {
    background: grey;
    color: rgb(21, 11, 11);
}

.edit-message-close {
    background: cornflowerblue;
    color: #fff;
}

.modalButton {
    border: none;
    width: 20%;
    height: 45px;
    font-size: x-large;
    margin-top: 25px;
    margin-right: 39px;
    float: right;
}


/* iPhone specific styles*/

@media (max-width: 767px) {
    .modal-body h1 {
        margin-top: 0px;
    }
    h1 {
        font-size: x-large;
    }
    .modalCloseButton {
        width: 66%;
        margin-top: 15px;
    }
}